<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Presentacion a mi Pagina web </title>
    
</head>


<body>

    <header>
        <nav class= "barraNavegacion">
            <ul>
                <li><a href='#'>item1</a></li>
                <li><a href='#'>item1</a></li>
                <li><a href='#'>item1</a></li>

            </ul>
        </nav>

    </header>

</body>
    <div class= "contenedor">
        
        <h1>Sobre mis..</h1>
        
        </div>
        
    <div class="marco_img">
        <img src="static/imagenes/perfil.jpg">
        <p>soy un estudiant..... </p>


    </div>
    




</html>