<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Presentacion a mi Pagina web </title>
    
</head>


<body>

    <header>
        <nav class= "barraNavegacion">
            <ul>
                <li><a href='#'>Pagina Inicial</a></li>
                <li><a href='#'>Contacto</a></li>
                <li><a href='#'>Mis Proyectos</a></li>

            </ul>
        </nav>

    </header>

</body>

    <div class= "contenedor">
        
        <h1>Sobre mi..</h1>
        
        </div>
        
    <div class="marco_img">
        <h1> Alonso Donnet Garcia Renteria</h1>
        <img src="/static/imagenes/perfil.jpg">
        <p>soy un estudiante de ingenieria en software que le gusta programar backend y aprender nuevas tecnologias emergentes cada anio </p>
        <p>Me gusta jugar videojuegos en especifico los juegos de pelea, tambien practicar deporte y salir con amigos cada que tengo oportunidad </p>
        <p> Espero poder terminar este curso y aprender mucho mas.. </p>

        <footer>
            <p>Este es mi link github para mi repositorio</p>
            <a href="https://github.com/NoSoyAlonzo/Aplicaciones_Web">Esta es la liga para mi Respositorio</a>
            
        </footer>
        
 
    

</div>


</html>