<!DOCTYPE html>
<html lang="es">

<head>
    <title>Pagina con flexbox para imageenes</title>
    <link rel="stylesheet" href="/static/estilos.css"/>
</head>

<body>
    <nav class="BarraNav">
        <div class>
            <ul>
                <li>logo</li>
                <li> item 1 </li>
            </ul>

        </div>
    </nav>

    <h1> Galeria de Imagenes</h1>
    
    <div class="contenedor_flex ">
        <div><img src ="/static/imagenes/img1.jpg" alt="imagen1"></div>
        <div><img src ="/static/imagenes/img2.jpg" alt="imagen2" ></div>
        <div><img src ="/static/imagenes/img4.jpg" alt="imagen3" ></div>
        <div><img src ="/static/imagenes/img3.jpg" alt="imagen4" ></div>
        <div><img src ="/static/imagenes/img2.jpg" alt="imagen5" ></div>

    </div>
    
    <div class="descripcionP"> <p> pagina de asignacion usando flexbox , galeria de imagenes </p></div>

</body>






</html>