<!DOCTYPE html>
<html lang="es">

<head>
    <title>Pagina con flexbox para imageenes</title>
    <link rel="stylesheet" href="/static/estilos.css"/>
</head>

<body>
    <nav class="BarraNav">
        <div class="ContenedorI">
            <ul>
                <li>logo</li>
                <li> item 1 </li>
            </ul>

        </div>
    </nav>

    <h1> Galeria de Imagenes</h1>
    
    <div class="flexbox">
        <div class="box1"><img src ="/static/imagenes/img1.jpg"></div>
        <div class="box2"><img src ="/static/imagenes/img2.jpg">  </div>
        <div class="box3"><img src ="/static/imagenes/img2.jpg"></div>
        <div class="box4"><img src ="/static/imagenes/img2.jpg"></div>
        <div class="box5"><img src ="/static/imagenes/img2.jpg"></div>

    </div>
    
    <header>Pagina con flexbox</header>

</body>






</html>