<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Tareas Escolares</title>
    <link rel="stylesheet" href="/PaginaTareas/static/estilo.css">
    <script>src="/PaginaTareas/static/js/script.js"</script>
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Página Web</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="panel">
            <h2>Registrar Tareas</h2>
            <label for="Tareas Registro">Nombre de la Tarea</label>
            <input type="text" id="campoTarea" name="campoT"/>
            <button id="botonAnadir" onClick="anadirTarea()">Agregar Tarea</button>
            <button id="botonEliminar" onClick="eliminarTarea()">Eliminar Tarea</button>
            <button id="botonMostrarT" onclick="mostrarTareas()">Mostrar Tareas</button>
            <p>Lista de tareas Registradas.</p>
            <ul id="listaTareas"></ul>

        
        
    </main>

    <footer>
        <p>&copy; 2025 :v Mi Página Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>