body{
    background: linear-gradient(to left ,  rgba(95, 95, 237, 0.958), rgb(51, 170, 170));

}
h1{
    justify-content: center;
    text-align: center;
}
.BarraNav{



}
.contenedor_flex {
    display: flex;
    gap: 10px; 
    justify-content:center; 
    align-items: center; 
    flex-wrap: wrap; 
}

.contenedor_flex img {
    width: 100%;  
    height: 200px; 
    object-fit: cover; 
    max-width:200px;
    border-radius: 10px; 
}
@media (max-width: 600px) {
    .contenedor_flex {
        flex-direction: column; 
        align-items: center;
    }
    
    .contenedor_flex img {
        max-width: 150px; 
        height: 150px;
    }
}
.descripcionP{
    
    text-align: center;
}