body{
    background: linear-gradient(to left ,  rgba(95, 95, 237, 0.958), rgb(51, 170, 170));

}

.flexbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
}

.box {
    padding: 5px;
    gap: 5px;
    max-width: 100px;
    height: auto;
}