body{
    background: linear-gradient(to left ,  rgba(95, 95, 237, 0.958), rgb(51, 170, 170));

}


.flexbox{
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.box1 {
    width: 300px;
    padding: 5px;

}
.box2 {
    width: 300px;
    padding: 5px;

}
.box3 {
    width: 300px;
    padding: 5px;

}
.box4 {
    width: 300px;
    padding: 5px;

}